{# Zumeri Faton #}
{% extends 'base.html' %}
{% block title %}Produits{% endblock %}
{% load static %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Produits</title>
    </head>
    <body>
    <div class="row">
        {% for produit in produits %}
            <h3>{{ produit.categorie }}</h3>
            <hr>
{#            {% if produit.categorie ==  %}#}
                <div class="col-lg-4">
                    <img class="thumbnail" src="{% static produit.image.url %}" alt="img">
                    <div class="box-element product">
                        <h6><strong>{{ produit.nom }}</strong></h6>
                        <hr>
                        <button data-produit="{{ produit.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Ajouter au panier</button>
                        <a class="btn btn-outline-success" href="#">Aperçu</a>
                        <h4 style="display: inline-block; float: right">{{ produit.prix_vente }}.-</h4>
                    </div>
                    </br></br>
                </div>
{#            {% endif %}#}
        {% endfor %}
    </div>

    {#    {% for prods in produit %}#}
    {##}
    {#        <p>{{ prods.nom }}</p>#}
    {#        <p>{{ prods.prix }}</p>#}
    {##}
    {#    {% endfor %}#}

    {#    <h3>Couleurs</h3><hr style="height: 3px">#}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <img src="{% static 'media/color-stay-shampoo-sulfate-free.png' %}">#}
    {#            <div class="box-element product">#}
    {#                <Strong>Color Stay Shampoo SULFATE FREE</Strong>#}
    {#                <hr>#}
    {#                <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                <p style="display: inline-block; float: right"><strong>CHF 27.00</strong></p>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/color-stay-conditioner.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Color Stay Conditioner</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 34.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/color-stay-treatment.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Color Stay Treatment</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 42.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <br>#}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <img src="{% static 'media/color-stay-travel-pack.png' %}">#}
    {#            <div class="box-element product">#}
    {#                <Strong>Color Stay Shampoo Travel Pack</Strong>#}
    {#                <hr>#}
    {#                <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                <p style="display: inline-block; float: right"><strong>CHF 50.50</strong></p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <br><br>#}
    {##}
    {#    <h3>Permanantes</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/frizz-control-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Frizz Control Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 27.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/frizz-control-conditioner.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Frizz Control Cond. Leave-in</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 39.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/frizz-control-protector.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Frizz Control Protector</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 35.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/frizz-control-treatment.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Frizz Control Treatment</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 42.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/frizz-control-cream.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Frizz Control Cream</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 34.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/frizz-control-travelpack.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Frizz Control Travel Pack</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 38.50</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <br><br>#}
    {##}
    {#    <h3>Endommagés</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/deep-care-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Deep Care Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 25.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/deep-care-conditioner.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Deep Care Conditioner</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 34.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/deep-care-treatment.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Deep Care Treatment</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 42.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/deep-care-drops.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Deep Care Drops</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 26.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/lakme-travel-pack.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Deep Care Travel Pack</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 50.50</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <br><br>#}
    {##}
    {#    <h3>Fins affaiblis</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/body-maker-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Body Maker Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 25.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/body-maker-balm.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Body Maker Balm</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 34.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/body-maker-mist.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Body Maker Mist</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 39.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/body-maker-travel-pack.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Body Maker Travel Pack</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 38.50</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <br><br>#}
    {##}
    {#    <h3>Normaux sains</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/organic-balance-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Organic Balance Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 27.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/organic-balance-hydra-oil.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Organic Balance Hydra Oil</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 34.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/organic-balance-treatment.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Organic Balance Treatment</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 42.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/organic-balance-oil.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Organic Balance Oil</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 49.50</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/organic-balance-travelpack.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Organic Balance Travel Pack</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 38.50</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div><br><br>#}
    {##}
    {#    <h3>White Silver</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/white-silver-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>White Silver Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 25.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/white-silver-mask.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>White Silver Mask</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 39.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div><br><br>#}
    {##}
    {#    <h3>Cocoa Brown</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/cocoa-brown-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Cocoa Brown Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 25.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/cocoa-brown-mask.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Cocoa Brown Mask</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 39.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div><br><br>#}
    {##}
    {#    <h3>Coral Red</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/coral-red-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Coral Red Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 25.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/coral-red-mask.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Coral Red Mask</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 39.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div><br><br>#}
    {##}
    {#    <h3>Saffron Copper</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/saffron-copper-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Saffron Copper Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 25.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/saffron-copper-mask.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Saffron Copper Mask</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 39.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div><br><br>#}
    {##}
    {#    <h3>Violet Lavender</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/violet-lavender-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Violet Lavender Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 25.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/violet-lavender-mask.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Violet Lavender Mask</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 39.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div><br><br>#}
    {##}
    {#    <h3>Cheveux Stressés</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/full-defense-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Full Defense Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 25.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/full-defense-treatment.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Full Defense Treatment</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 42.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/full-defense-serum.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Full Defense Serum</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 27.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/full-defense-mist.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Full Defense Mist</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 39.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/Full_Defense_Travel_Pack.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Full Defense Travel Pack</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 38.50</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div><br><br>#}
    {##}
    {#    <h3>En profondeur</h3><hr style="height: 3px">#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            <div class="box-element product">#}
    {#                <img src="{% static 'media/perfect-cleanse-shampoo.png' %}">#}
    {#                <div class="box-element product">#}
    {#                    <Strong>Perfect Cleanse Shampoo</Strong>#}
    {#                    <hr>#}
    {#                    <button class="btn btn-outline-secondary add-btn">Ajouter au panier</button>#}
    {#                    <a class="btn btn-outline-success" href="#">Voir</a>#}
    {#                    <p style="display: inline-block; float: right"><strong>CHF 25.00</strong></p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    </body>#}
    </html>
    <br><br>

{% endblock %}
