{# Zumeri Faton #}
{% extends 'base.html' %}
{% block title %}Produits{% endblock %}
{% load static %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Produits</title>
    </head>
    <body>
    <div class="row">
        {% for produit in produits %}
            <h3>{{ produit.categorie }}</h3>
            <hr>
            <div class="col-lg-4">
                <img class="thumbnail" src="{% static produit.image.url %}" alt="img">
                <div class="box-element product">
                    <h6><strong>{{ produit.nom }}</strong></h6>
                    <hr>
                    <button data-produit="{{ produit.id }}" data-action="add"
                            class="btn btn-outline-secondary add-btn update-cart">Ajouter au panier
                    </button>
                    <a class="btn btn-outline-success" href="#">Aperçu</a>
                    <h4 style="display: inline-block; float: right">{{ produit.prix_vente }}.-</h4>
                </div>
                </br></br>
            </div>
        {% endfor %}
    </div>
    </html>
    <br><br>

{% endblock %}
