{% extends 'base.html' %}

{% block content %}


<!--<style>-->
<!--   .row {-->
<!--      color: black;-->
<!--    }-->
<!--   .col-sm {-->
<!--     background-color: aquamarine;-->
<!--     margin-top: 50px;-->
<!--     padding: 30px;-->
<!--     border: solid 1px black;-->
<!--     width: auto;-->
<!--   }-->
<!--   .row * {-->
<!--     color: rebeccapurple;-->
<!--     width: auto;-->
<!--   }-->

<!--</style>-->


<h1>Planning</h1>

<br>
<br>
<br>


  <div class="col-sm-3">
    fleche gauche
  </div>
  <div class="col-sm-3">
    <h1>Jeudi, le 16 septembre 2021</h1>
  </div>
  <div class="col-sm-3">
    fleche droite
  </div>


<br>
<br>
<br>

<div class="tableau">
  <div class="premiere-ligne">
    <div class="reservations">
      <p>
        <i class='far fa-edit'>edit</i>
      </p>
    </div>
    <div class="reservations">
      <p>
        <i class='far fa-edit' style='font-size:24px'>change</i>
      </p>
    </div>
    <div class="reservations">
      <p>
        <i style='font-size:24px' class='far'>&#xf044;</i>
      </p>
    </div>
  </div><div class="deuxieme-ligne">
    <div class="reservations">
      <p>

      </p>
    </div>
    <div class="reservations">
      <p>

      </p>
    </div>
    <div class="reservations">
      <p>

      </p>
    </div>
  </div>
</div>

















<div class="container">
  <div class="row row-cols-auto">
    <div class="col">8h</div>
    <div class="col">9h</div>
    <div class="col">10h30</div>
    <div class="col">Prendre rendez-vous</div>
    <div class="col">13h</div>
  </div>
</div>

<div class="container">
  <div class="row ">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>

{% endblock %}