{# Zumeri Faton #}
{% extends 'base.html' %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact</title>
    </head>
    <body>
    <h1>Nous contacter</h1>
    <br><br><br>
    <table width="75%">
        <tr>
            <th><i><u>Salon</u></i></th>
            <th><i><u>Téléphone</u></i></th>
        </tr>
        <tr>
            <td style="padding-top: 15px">Cristina Coiffure Jussy</td>
            <td style="padding-top: 15px">(+41) 079 640 62 00</td>
        </tr>
        <tr>
            <td>Chemin des Prés-Seigneur 27 <br> 1254 Jussy</td>
            <td></td>
        </tr>
    </table>
    <br><br>
    <form class="" method="post">
        {% csrf_token %}
        <div class="col-sm my-auto">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3367.147749366162!2d6.264583680598971!3d46.2335393569716!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c6e8ec09f83cb%3A0xd3f82b913d7969cc!2sChem.%20des%20Pr%C3%A9s-Seigneur%2027%2C%201254%20Jussy!5e1!3m2!1sfr!2sch!4v1632382534294!5m2!1sfr!2sch"
                    width="500" height="400" style="float: right; width: 50%" loading="lazy"></iframe>
        </div>
        <div class="row">
            <input name="nom" type="text" class="form-control" id="nom" style="width: 75%" placeholder="Nom" required>
        </div>
        <br>
        <div class="row">
            <input name="prénom" type="text" class="form-control" id="prénom" style="width: 75%" placeholder="Prénom" required>
        </div>
        <br>
        <div class="row">
            <input name="email" type="email" class="form-control" id="email" style="width: 75%" placeholder="Email" required>
        </div>
        <br>
        <div class="row">
            <textarea id="message" class="form-control" name="message" rows="7" cols="30"
                      style="width: 75%" placeholder="Écrivez-votre message ici..." required></textarea><br/>
            <span id="message_validation" class="error_message"></span>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    <br><br>
    </body>
    </html>

{% endblock %}