html,body {
   margin:0;
   padding:0;
   height:100%;
}
main {
   min-height:100%;
   position:relative;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #7FFFD4;
    background-color: #3d3d3f;
    text-align: center;
    display: block;
    height: 300px;
}

footer div{
    /*border: 1px solid red;*/
}





.planning {
   padding:10px;
   padding-bottom:400px;   /* Height of the footer */
}








/* Réservations */

.modele {
    height: 130px;
}


.reservation {
    background-color: #c2dbf3;
    border: black solid 1px;
}

.reservationr {
    background-color: #7FFFD4;
    border: black solid 1px;
}

.legendes * {
    display: inline-block;
}

.couleur-reserve {
    height: 40px;
    width: 40px;
    border: black solid 1px;
    background-color: #7FFFD4;
}

.couleur-libre {
    height: 40px;
    width: 40px;
    border: black solid 1px;
    background-color: #c2dbf3;
}