{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>HTML-Base</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Stock produits</a></li>
            <li><a href="#">Réservations</a></li>
            <li><a href="#">Liste clients</a></li>
            <li><a href="#">Déconnexion</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>